/*================================ 
    #RESPONSIVE CSS 
====================================*/

/* Extra large: large desktops, 1200px and up*/
@media (min-width: 1200px) {  }

/* large device: desktops, 992px and up*/

@media (min-width: 992px) and (max-width: 1199.98px) { 

    /* Banner Responsive*/
    
 }

/* Tablet Layout: 768px.*/
@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* Banner Responsive*/
    .banner-shape {
    display: none;
}

.banner-thumb {
    margin-right: 0;
    margin-top: 52px;
}

.attr-nav {
    display: none;
}

.banner-style-one-item h1 {
    font-size: 56px;
    font-weight: 700;
}

.contact-style-one-content {
    margin-bottom: 40px;
}

.contact-style-one-content h3 {
    font-size: 60px;
}

.footer-style-one-item {
    margin-top: 30px;
}

.footer-bottom-area p {
    font-size: 17px;
}

.working-style-one-item {
    margin-top: 55px;
}

.blog-style-one-item .info ul {
    display: block;
}

.blog-style-one-item .info ul li {
    padding-bottom: 10px;
}

.blog-style-one-item .info h4 {
    font-size: 20px;
}

.cta-banner-left h2 {
    font-size: 52px;
    padding-bottom: 15px;
}

}

/* MObile Layout: 576px.*/

@media (min-width: 576px) and (max-width: 767.98px) { 

    /* Banner Responsive*/
    .banner-shape {
    display: none;
}

.banner-thumb {
    margin-right: 0;
    margin-top: 52px;
}

.attr-nav {
    display: none;
}

.banner-style-one-item h1 {
    font-size: 52px;
    font-weight: 700;
}

.brand-style-one-item {
    justify-content: center;
    text-align: center;
}

.footer-style-one-item {
    margin-top: 30px;
}

.footer-bottom-area {
    display: block;
    text-align: center;
    justify-content: center;
}

ul.footer-bottom-menu {
    justify-content: center;
    padding-top: 20px;
}

ul.footer-bottom-menu li {
    margin-right: 0;
    padding: 0 16px;
}

.contact-style-one-content h3 {
    font-size: 50px;
}

.working-style-one-item {
    margin-top: 55px;
}

.working-style-one-heading h3 {
    font-size: 50px;
}

.working-style-one-heading p {
    font-size: 16px;
}

.cta-banner-left h2 {
    font-size: 40px;
    padding-bottom: 15px;
}

.cta-banner-right ul li {
    float: left;
    width: 100%;
}

}

/* MObile Layout: 576px.*/
@media (max-width: 575.98px) { 

/* Banner Responsive*/
.banner-shape {
    display: none;
}

.banner-thumb {
    margin-right: 0;
    margin-top: 52px;
}

.attr-nav {
    display: none;
}

.banner-style-one-item h1 {
    font-size: 50px;
    font-weight: 700;
}

.service-one-heading h3 {
    font-size: 40px;
    font-weight: 700;
}

.brand-style-one-item {
    justify-content: center;
    text-align: center;
}

.footer-style-one-item {
    margin-top: 30px;
}

.footer-bottom-area {
    display: block;
    text-align: center;
    justify-content: center;
}

ul.footer-bottom-menu {
    justify-content: center;
    padding-top: 20px;
}

ul.footer-bottom-menu li {
    margin-right: 0;
    padding: 0px 13px;
    font-size: 14px;
}

.contact-style-one-content h3 {
    font-size: 40px;
}

.working-style-one-item {
    margin-top: 55px;
}

.working-style-one-heading h3 {
    font-size: 50px;
}

.working-style-one-heading p {
    font-size: 16px;
}

.cta-banner-left h2 {
    font-size: 40px;
    padding-bottom: 15px;
}

.cta-banner-right ul li {
    float: left;
    width: 100%;
}

}