/*================================ 
    #RESPONSIVE CSS 
====================================*/

/* Extra large: large desktops, 1200px and up*/
@media (min-width: 1200px) {  }

/* large device: desktops, 992px and up*/

@media (min-width: 992px) and (max-width: 1199.98px) { 

    /* Banner Responsive*/
    
 }

/* Tablet Layout: 768px.*/
@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* Banner Responsive*/
    .banner-shape {
    display: none;
}

.banner-thumb {
    margin-right: 0;
    margin-top: 52px;
}

.attr-nav {
    display: none;
}

.banner-style-one-item h1 {
    font-size: 56px;
    font-weight: 700;
}

}

/* MObile Layout: 576px.*/

@media (min-width: 576px) and (max-width: 767.98px) { 

    /* Banner Responsive*/
    .banner-shape {
    display: none;
}

.banner-thumb {
    margin-right: 0;
    margin-top: 52px;
}

.attr-nav {
    display: none;
}

.banner-style-one-item h1 {
    font-size: 52px;
    font-weight: 700;
}

}

/* MObile Layout: 576px.*/
@media (max-width: 575.98px) { 

/* Banner Responsive*/
.banner-shape {
    display: none;
}

.banner-thumb {
    margin-right: 0;
    margin-top: 52px;
}

.attr-nav {
    display: none;
}

.banner-style-one-item h1 {
    font-size: 50px;
    font-weight: 700;
}

}